@model RegistrationLogin.Models.BuySellDatabase

<link href="~/Content/Shared/css/views.css" rel="stylesheet" />

@{
    ViewBag.Title = "EditSellBuyRequest";
    Layout = "~/Content/Shared/_LayoutDatabase.cshtml";
}

<h2>Edit Your Sell-Buy Request</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    
 <button type="button" class="btn btn-info btn-xs"  onclick="location.href='@Url.Action("UserRequestsForBuySell", "Database", new { id = Model.ID })'">Back to My Requests</button>

    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <div class="reuestForm">

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                          <h3 style= "font-family:sans-serif; color:green; padding-bottom:10px; font-size:18px; " >@ViewBag.MessageReq</h3>
                
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required", @placeholder = "Your Name or Nickname" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                
                <div class="editor-field">
                        @Html.DropDownList("BuyOrSell", new List<SelectListItem>
                            {
                                new SelectListItem {Text= "Sell", Value="Sell"},
                                new SelectListItem {Text= "Buy", Value="Buy"},
                                new SelectListItem {Text= "Other", Value="Other"}
                            }, "Select the choice", new { @class = "form-control", required = "required", @placeholder = "Enter the valid option"})
                    @Html.ValidationMessageFor(model => model.BuyOrSell)
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Item, new { @class = "form-control", required = "required", @placeholder = "Item" })
                    @Html.ValidationMessageFor(model => model.Item)
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control", required = "required", @placeholder = "Price or Budget" })
                    @Html.ValidationMessageFor(model => model.Price)
                </div>

                <div class="editor-field">
                    @Html.TextAreaFor(model => model.MessageMail, new { @class = "form-control", column="7", rows="5", required = "required", @placeholder = "Your Message" })
                    @Html.ValidationMessageFor(model => model.MessageMail)
                </div>
                
                <div class="editor-field">
                    @Html.HiddenFor(model => model.Requested_Date, new { @Value = System.DateTime.Now })
                </div>

                <div class="editor-field">
                    @Html.HiddenFor(model => model.UserID)
                </div>
                <p>
                    <input type="submit" value="Save" />
                </p>
            }

            <div>
                @Html.ActionLink("Back to Available Requests", "sellbuygrid", "Database")
            </div>
        </div>
    </div>
</div>


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

