@model RegistrationLogin.Models.BuySellDatabase

<link href="~/Content/Shared/css/views.css" rel="stylesheet" />

@{
    ViewBag.Title = "RequestBuySellDetails";
    Layout = "~/Content/Shared/_LayoutDatabase.cshtml";
}

<h2>Request Details</h2>

                        <button type="button" class="btn btn-info btn-xs"  onclick="location.href='@Url.Action("UserRequestsForBuySell", "Database", new { id = Model.ID })'">Back to My Requests</button>


<div class="row">
<div class="col col-md-6 requestDetails">

    <div class="display-label">
       <h4>  @Html.DisplayNameFor(model => model.Name)</h4>
    </div>
    <div class="display-field">
     <h3>   @Html.DisplayFor(model => model.Name) </h3>
    </div>


    <div class="display-label">
      <h4>   @Html.DisplayNameFor(model => model.BuyOrSell) </h4>
    </div>
    <div class="display-field">
       <h3>  @Html.DisplayFor(model => model.BuyOrSell) </h3>
    </div>

    <div class="display-label">
       <h4>  @Html.DisplayNameFor(model => model.Item) </h4>
    </div>
    <div class="display-field">
     <h3>    @Html.DisplayFor(model => model.Item)  </h3>
    </div>


    <div class="display-label">
     <h4> @Html.DisplayNameFor(model => model.Price)</h4>
    </div>
    <div class="display-field">
     <h3>    @Html.DisplayFor(model => model.Price)  </h3>
    </div>


    <div class="display-label">
     <h4>    @Html.DisplayNameFor(model => model.Requested_Date) </h4>
    </div>
    <div class="display-field">
      <h3>   @Html.DisplayFor(model => model.Requested_Date)  </h3>
    </div>

</div>


<div class="col col-md-6">
    <div class="display-label">
     <h4>@Html.DisplayNameFor(model => model.MessageMail) </h4>
    </div>
    <div class="display-field">
      <h3>   @Html.DisplayFor(model => model.MessageMail)  </h3>
    </div>

</div>

</div>


<hr />
<p>
    @Html.ActionLink("Edit Post", "EditSellBuyRequest", new { id=Model.ID}) |
    @Html.ActionLink("Back to My Requests", "UserRequestsForBuySell")
</p>
